h1 {
    color: pink;
    font-family: verdana;
    font-size: 300%;
  }
  h2 {
    border: 2px solid rgb(186, 247, 255);
    margin: 50px;

  }

  div {
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }